$bg-section: #edf2ec;
$links-nav: #010201;
$black: #000000;
$green-text: #499a18;
$orange-text: #e06733;
$grey-text: #717171;
$taupe-text: #636060;
$inika-text: 'Inika', sans-serif;
$inter-text: 'Inter', sans-serif;
